<div class="row">
    <div class="row mt-4 justify-content-center">
        <div class="col-4">
            <div *ngIf="tipo_busqueda" class="row justify-content-center">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon22">
                        <i class="fas fa-address-card"></i>
                    </span>
                    <input type="text" class="form-control me-1" placeholder="Identidad" aria-label="Identidad"
                        aria-describedby="basic-addon22" [(ngModel)]="identidad" />
                </div>
            </div>

            <div *ngIf="!tipo_busqueda" class="row justify-content-center">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon22">
                        <i class="fas fa-barcode"></i>
                    </span>
                    <input type="text" class="form-control me-1" placeholder="Expediente" aria-label="Nombre Completo"
                        aria-describedby="basic-addon22" [(ngModel)]="rivm" />
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-check form-check-inline">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="customControlValidation2" name="radio-stacked"
                            [value]="1" (change)="seleccionarBusqueda(1)" [checked]="default_check" />
                        <label class="form-check-label" for="customControlValidation2">Busqueda Por Identidad</label>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="customControlValidation3" name="radio-stacked"
                            [value]="2" (click)="seleccionarBusqueda(2)" />
                        <label class="form-check-label" for="customControlValidation3">Busqueda por RIVM</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                    <button class="btn btn-outline-info me-1" (click)="buscar()" type="button">
                        {{texto_busqueda}}
                        <i class="fas fa-search"></i>
                    </button>

                    <button class="btn btn-outline-danger" (click)="limpiar()" type="button">
                        Limpiar
                        <i class="fas fa-eraser"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>